$font-stack:      Helvetica, sans-serif
$font-stack2:     SignPainter, Helvetica, sans-serif
$font-stack3:     Impact, sans-serif
$highlight-color: #ffffff
$font-color: grey
$neutral-color: grey
$neutral-color2: #efefef
$dark-color: #083254
$darkest-color: #2d2d5a
$dark: black
$light-color: #03c1d6
$light-color2: #7dbdd6
$primary-color:   #ece8e8
$secondary-color: #f79b4c
$secondary-color2: #f79044
$tertiary-color: #F84040

body
  font: $font-stack
  color: $primary-color

@mixin font-size($sizeValue: 1.6)
  font-size: ($sizeValue * 10) + px
  font-size: $sizeValue + rem

@mixin button-scale($scale)
  width: 300*$scale + px
  height: 50*$scale + px
  line-height: 50*$scale + px
  margin-top: 30*$scale + px

@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

@mixin transform($transform, $val)
  -webkit-transform: $transform($val)
  -moz-transform: $transform($val)
  -o-transform: $transform($val)
  transform: $transform($val)
