@import "base"
@import compass

$about-top-and-bottom-padding: 150
$summary-header-font-size: 2.5
$summary-title-font-size: 3
$summary-subtext-font-size: 2.7
$summary-whoami-font-size: 2.7

.about-container
  position: relative
  background-color: $highlight-color

.about-summary
  padding: $about-top-and-bottom-padding + px 0px $about-top-and-bottom-padding + px 0px

.summary-container
  opacity: 0

.load-summary-container
  opacity: 1
  transition: 300ms ease-in-out

.summary-header
  font: 100% $font-stack2
  @include font-size($summary-header-font-size)
  color: $dark-color
  margin-bottom: 30px

.summary-title
  display: block
  font: 100% $font-stack3
  @include font-size($summary-title-font-size)
  color: $dark-color
  padding: 20px 0px 20px 0px

.summary-subtext
  font: 100% $font-stack
  max-width: 1000px
  @include font-size($summary-subtext-font-size)
  color: $dark-color

.summary-photo
  width: 300px
  height: 300px
  background-image: url('../assets/Profile_Photo.jpg')
  background-position: center
  background-size: 160%
  background-repeat: no-repeat
  margin: 0px auto 50px auto
  border: 3px solid black
  border-radius: 50%
  background-color: $secondary-color

.summary-who-am-i
  font: 100% $font-stack
  @include font-size($summary-whoami-font-size)
  margin: 0px auto
  max-width: 900px
  padding: 0px 20px 0px 20px
  color: $dark-color

.personal-details-container
  max-width: 1000px
  margin: 30px auto 0px auto
  display: flex
  flex-direction: row

.personal-detail-container
  width: 300px
  margin: 0px auto
  padding: 0px 10px 0px 10px
  display: block
  transform: translate(0, 0)
  transition: 500ms
  font-smoothing: antialiased !important
  -webkit-backface-visibility: hidden
  -webkit-transform: translateZ(0) scale(1.0, 1.0)
  transform: translateZ(0)

.left
  width: 300px
  margin: 0px auto
  padding: 0px 10px 0px 10px
  display: block
  transform: translateX(-30px)
  opacity: 0

.bottom
  transform: translateY(30px)
  opacity: 0

.right
  transform: translateX(30px)
  opacity: 0

.personal-detail-icon
  position: relative
  width: 100px
  height: 100px
  margin: 0px auto 25px auto
  border-radius: 50%
  border: $light-color 2px solid

  &:hover
    box-shadow: 0px 0px 8px $light-color

  &::before
    top: -2px
    left: -2px
    position: absolute
    content: ''
    width: 100px
    height: 100px
    margin: 0px auto 25px auto
    border-radius: 50%
    border: $light-color 2px solid

  &:hover:before
    animation: detailIconPulse 250ms

.personal-detail-image
  position: absolute
  top: 17px
  left: 17px
  margin: auto

.personal-detail-title
  font: 100% $font-stack3
  @include font-size(1)
  color: $dark-color
  padding: 0px 0px 10px 0px

.personal-detail-description
  @include font-size(.9)
  color: $dark-color

.about-resume
  font: 100% $font-stack2
  @include font-size(2)
  width: 400px
  height: 50px
  border-radius: 30px
  background-color: $light-color
  margin: 50px auto
  line-height: 50px

.about-skills
  background:
    color: $highlight-color
    image: url('../assets/Coding_Wallpaper_Dark.png')
    repeat: no-repeat
    position: top center
    size: 100vw 200vh
    attachment: fixed
  padding: $about-top-and-bottom-padding + px 0px $about-top-and-bottom-padding + px 0px

.about-social-links
  margin: 100px auto 0px auto
  height: 76px
  width: 390px
  display: flex
  flex-direction: row
  background-image: url('../assets/FPO_Social_Links.png')
  zoom: .75

.skills-header
  opacity: 0
  font: 100% $font-stack2
  @include font-size(2.5)
  margin-bottom: 30px

  span
    font: 100% $font-stack3
    @include font-size(3)
    display: block
    padding: 20px 0px 20px 0px

  &.show
    opacity: 1
    animation: batteryFade 300ms ease-in-out

.skills-container
  position: relative
  width: 1200px
  display: flex
  flex-flow: row wrap
  flex-wrap: wrap
  background: transparent
  margin: 10px auto 10px auto

.skill-container
  opacity: 0
  display: flex
  flex-direction: column
  //zoom: .5

  &.show
    opacity: 1
    animation: batteryFade 300ms ease-in-out

.skill-name
  text-align: left
  margin-left: 8px

.battery-container
  width: 600px
  display: flex
  flex-direction: row
  margin: 0px auto

.battery-graphic
  opacity: 1
  width: 480px
  height: 54px
  margin: 5px 0px 10px 0px
  position: relative

.battery-graphic::before
  content: ''
  top: 0
  height: 100%
  width: 8px
  left: 8px
  position: absolute
  background-image: url('../assets/battery-left-blue.png')

.battery-graphic::after
  content: ''
  top: 0
  height: 100%
  width: 12px
  right: -22px
  position: absolute
  background-image: url('../assets/battery-right-blue.png')

.battery-inactive-tick
  top: 0
  height: 100%
  width: 100%
  left: 14px
  display: block
  position: relative
  background-position: 0 50%
  background-image: url('../assets/battery-tick-inactive.png')
  background-repeat: repeat-x

.battery-active-tick
  top: 0
  height: 100%
  width: 100%
  display: block
  position: relative
  background-position: 0 50%
  background-image: url('../assets/battery-tick-active.png')
  background-repeat: repeat-x

  &.show
    opacity: 1
    animation: batteryLevel 2s ease-in-out

.battery-level
  @include font-size(1.2)
  color: $highlight-color
  margin-left: 35px
  line-height: 65px
  transition: .8s

@keyframes detailIconPulse
  0%
    transform: scale(1, 1)
    transform-origin: center
    opacity: 1

  100%
    transform: scale(1.5, 1.5)
    transform-origin: center
    opacity: 0

@keyframes slideDetail
  100%
    transform: translate(0, 0)
    opacity: 1

@keyframes batteryLevel
  from
    width: 0%

@keyframes batteryFade
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes batterySlideRight
  0%
    transform: translateX(-600px)

  100%
    transform: translateX(0px)

@mixin media-query-scale($scale)
  .summary-header
    @include font-size($summary-header-font-size * $scale)

  .summary-title
    font: 100% $font-stack3
    @include font-size($summary-title-font-size * $scale)

  .summary-subtext
    @include font-size($summary-subtext-font-size * $scale)

  .summary-who-am-i
    @include font-size($summary-whoami-font-size * $scale)

  .personal-detail-container
    zoom: $scale

  .about-summary
    padding: $about-top-and-bottom-padding * $scale + px 0px $about-top-and-bottom-padding * $scale + px 0px

  .about-skills
    padding: $about-top-and-bottom-padding * $scale + px 0px $about-top-and-bottom-padding * $scale + px 0px

  .personal-detail-title
    font: 100% $font-stack3

  @if $scale < .51
    .personal-details-container
      flex-direction: column

    .personal-detail-container
      margin: 20px auto

@media only screen and (min-width: 400px) and (max-width: 500px)
  @include media-query-scale(.50)

@media only screen and (min-width: 501px) and (max-width: 600px)
  @include media-query-scale(.60)

@media only screen and (min-width: 601px) and (max-width: 700px)
  @include media-query-scale(.70)

@media only screen and  (min-width: 701px) and (max-width: 800px)
  @include media-query-scale(.80)

@media only screen and  (min-width: 801px) and (max-width: 900px)
  @include media-query-scale(.90)

@media (min-device-width : 375px) and (max-device-width : 667px)
  @include media-query-scale(.50)
