@import "base"
@import compass


.contact-container
  padding: 150px 0px 150px 0px

.contact-info
  height: 50vh
  opacity: .7
  background:
    image: url('../assets/Contact_Background.png')
    repeat: no-repeat
    size: 100vw
    attachment: fixed

.footer-container
  height: 20vh