@import "base"
@import compass

$project-header-font-size: 2.5
$project-title-font-size: 3

.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 150px 0px 150px 0px

.project-header
  font: 100% $font-stack2
  @include font-size($project-header-font-size)
  color: $dark-color

.project-title
  font: 100% $font-stack3
  @include font-size($project-title-font-size)
  color: $darkest-color

.project-subtext
  font: $font-stack
  color: $font-color
  width: 70vw

.tile-container
  margin-top: 50px
  z-index: 0

.test
  background: $light-color
  box-sizing: border-box
  padding: 0 0.5rem 1rem
  width: 30vw
  height: 30vw
  box-shadow: 8px 8px 8px 0px grey


.test2
  background: $dark-color
  box-sizing: border-box
  width: 10vw
  height: 10vw
  padding: 0 0.5rem 1rem
  box-shadow: 8px 8px 8px 0px grey

.test3
  background: $secondary-color
  box-sizing: border-box
  width: 10vw
  height: 10vw
  padding: 0 0.5rem 1rem
  overflow: hidden
  box-shadow: 8px 8px 8px 0px grey
