@import "base"
@import compass

// n is number of stars required
@function multiple-box-shadow ($n) 
  $value: '#{random(2000)}px #{random(2000)}px #FFF'
  @for $i from 2 through $n
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'

  @return unquote($value)

$shadows-small:  multiple-box-shadow(700)
$shadows-medium: multiple-box-shadow(200)
$shadows-big:    multiple-box-shadow(100)

.splash-div
  height: 100vh
  min-height: 400px
  background: radial-gradient(ellipse at bottom, $light-color 0%, $dark-color 100%)
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: center
    
#stars
  width: 1px
  height: 1px
  background: transparent
  box-shadow: $shadows-small
  animation			: animStar 50s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $shadows-small
    
#stars2
  width: 2px
  height: 2px
  background: transparent
  box-shadow: $shadows-medium
  animation			: animStar 100s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 2px
    height: 2px
    background: transparent
    box-shadow: $shadows-medium
    
#stars3
  width: 3px
  height: 3px
  background: transparent
  box-shadow: $shadows-big
  animation			: animStar 150s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 3px
    height: 3px
    background: transparent
    box-shadow: $shadows-big

#title
  color: $primary-color
  font: 100% $font-stack
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

#title header
  background: $highlight-color
  @include font-size(6)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

#title p
  background: $primary-color
  max-width: 700px
  margin: 10px 20px 0px 20px
  @include font-size(1.4)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.project-button-container
  display: inline-block
  text-align: center
  font: 100% $font-stack2
  @include font-size(2)

.project-button
  @include border-radius(30px)
  @include button-scale(1)
  display: inline-block
  vertical-align: middle
  text-align: center
  background: $secondary-color
  z-index: 1000

  &:hover
    transition: .1s all
    cursor: pointer
    background: $secondary-color2

  &:active
    transform: translateY(4px)
    
@keyframes animStar
  from	
    transform: translateY(0px)
  to		
    transform: translateY(-2000px)

@mixin media-query-scale($scale)
  #title header
    @include font-size(6*$scale)

  #title p
    @include font-size(1.4*$scale)
    width: 700*$scale + px

  .project-button-container
    @include font-size(2*$scale)

  .project-button
    @include button-scale(1*$scale)

@media only screen and (min-width: 400px) and (max-width: 500px)
  @include media-query-scale(.50)

@media only screen and (min-width: 501px) and (max-width: 600px)
  @include media-query-scale(.60)

@media only screen and (min-width: 601px) and (max-width: 700px)
  @include media-query-scale(.70)

@media only screen and  (min-width: 701px) and (max-width: 800px)
  @include media-query-scale(.80)

@media only screen and  (min-width: 801px) and (max-width: 900px)
  @include media-query-scale(.90)